In [40]:
# add dependencies
import pandas as pd

In [41]:
# load downloaded csv files
# let's load a full year of data. the closest is 2017. I also include quarters
m1_csv="data/JC-201701-citibike-tripdata.csv"
m2_csv="data/JC-201702-citibike-tripdata.csv"
m3_csv="data/JC-201703-citibike-tripdata.csv"
m4_csv="data/JC-201704-citibike-tripdata.csv"
m5_csv="data/JC-201705-citibike-tripdata.csv"
m6_csv="data/JC-201706-citibike-tripdata.csv"
m7_csv="data/JC-201707-citibike-tripdata.csv"
m8_csv="data/JC-201708-citibike-tripdata.csv"
m9_csv="data/JC-201709-citibike-tripdata.csv"
m10_csv="data/JC-201710-citibike-tripdata.csv"
m11_csv="data/JC-201711-citibike-tripdata.csv"
m12_csv="data/JC-201712-citibike-tripdata.csv"

q1_csv = "data/data-2017-q1.csv"
q2_csv = "data/data-2017-q2.csv"
q3_csv = "data/data-2017-q3.csv"
q4_csv = "data/data-2017-q4.csv"

m1_data = pd.read_csv(m1_csv)
m2_data = pd.read_csv(m2_csv)
m3_data = pd.read_csv(m3_csv)
m4_data = pd.read_csv(m4_csv)
m5_data = pd.read_csv(m5_csv)
m6_data = pd.read_csv(m6_csv)
m7_data = pd.read_csv(m7_csv)
m8_data = pd.read_csv(m8_csv)
m9_data = pd.read_csv(m9_csv)
m10_data = pd.read_csv(m10_csv)
m11_data = pd.read_csv(m11_csv)
m12_data = pd.read_csv(m12_csv)

q1_data = pd.read_csv(q1_csv)
q2_data = pd.read_csv(q2_csv)
q3_data = pd.read_csv(q3_csv)
q4_data = pd.read_csv(q4_csv)

In [44]:
m3_data.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [45]:
m4_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [46]:
# merge dataset 1
dataset_1A = [m1_data, m2_data, m3_data]
df1A=pd.concat(dataset_1A)
df1A.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [52]:
df1A.count()

Trip Duration              39153
Start Time                 39153
Stop Time                  39153
Start Station ID           39153
Start Station Name         39153
Start Station Latitude     39153
Start Station Longitude    39153
End Station ID             39153
End Station Name           39153
End Station Latitude       39153
End Station Longitude      39153
Bike ID                    39153
User Type                  39036
Birth Year                 37448
Gender                     39153
dtype: int64

In [53]:
# merge dataset 1
dataset_1B = [m4_data, m5_data, m6_data, m7_data, m8_data, m9_data, m10_data, m11_data, m12_data]
df1B=pd.concat(dataset_1B)
df1B.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,252,2017-04-01 00:14:36,2017-04-01 00:18:48,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26238,Subscriber,NaN,0
1,452,2017-04-01 00:15:47,2017-04-01 00:23:20,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26186,Subscriber,1962.0,1
2,465,2017-04-01 00:46:27,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24659,Subscriber,1996.0,1
3,417,2017-04-01 00:47:15,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24471,Subscriber,1994.0,1
4,391,2017-04-01 01:13:12,2017-04-01 01:19:44,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24624,Subscriber,1983.0,1

In [57]:
# rename columns of df4 to df12 before merge with df1 to df3
df1B.rename(columns={'tripduration':'Trip Duration', 'starttime':'Start Time', 'stoptime':'Stop Time', 'start station id':'Start Station ID', 'start station name':'Start Station Name', 'start station latitude':'Start Station Latitude', 'start station longitude':'Start Station Longitude', 'end station id':'End Station ID', 'end station name':'End Station Name', 'end station latitude':'End Station Latitude', 'end station longitude':'End Station Longitude', 'bikeid':'Bike ID', 'usertype':'User Type', 'birth year':'Birth Year', 'gender':'Gender'}, inplace=True)
df1B.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [59]:
df1B.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,252,2017-04-01 00:14:36,2017-04-01 00:18:48,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26238,Subscriber,NaN,0
1,452,2017-04-01 00:15:47,2017-04-01 00:23:20,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26186,Subscriber,1962.0,1
2,465,2017-04-01 00:46:27,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24659,Subscriber,1996.0,1
3,417,2017-04-01 00:47:15,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24471,Subscriber,1994.0,1
4,391,2017-04-01 01:13:12,2017-04-01 01:19:44,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24624,Subscriber,1983.0,1

In [60]:
df1B.count()

Trip Duration              255775
Start Time                 255775
Stop Time                  255775
Start Station ID           255775
Start Station Name         255775
Start Station Latitude     255775
Start Station Longitude    255775
End Station ID             255775
End Station Name           255775
End Station Latitude       255775
End Station Longitude      255775
Bike ID                    255775
User Type                  255775
Birth Year                 237865
Gender                     255775
dtype: int64

In [69]:
# merge df1A and df1B dataset
dataset_merged = [df1A, df1B]
df1=pd.concat(dataset_merged)
df1

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
5,258,2017-01-01 01:56:29,2017-01-01 02:00:48,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24604,Subscriber,1970.0,1
6,663,2017-01-01 02:12:34,2017-01-01 02:23:38,3270,Jersey & 6th St,40.725289,-74.045572,3206,Hilltop,40.731169,-74.057574,24641,Subscriber,1978.0,1
7,567,2017-01-01 02:15:52,2017-01-01 02:25:20,3192,Liberty Light Rail,40.711242,-74.055701,3213,Van Vorst Park,40.718489,-74.047727,24513,Subscriber,1970.0,1
8,551,2017-01-01 02:16:03,2017-01-01 02:25:15,3192,Liberty Light Rail,40.711242,-74.055701,3213,Van Vorst Park,40.718489,-74.047727,24463,Subscriber,1967.0,2
9,573,2017-01-01 02:22:17,2017-01-01 02:31:50,3212,Christ Hospital,40.734786,-74.050444,3225,Baldwin at Montgomery,40.723659,-74.064194,24486,Subscriber,1984.0,1
10,535,2017-01-01 02:22:59,2017-01-01 02:31:55,3212,Christ Hospital,40.734786,-74.050444,3225,Baldwin at Montgomery,40.723659,-74.064194,24520,Subscriber,1987.0,2
11,224,2017-01-01 02:23:53,2017-01-01 02:27:37,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24512,Subscriber,1984.0,2
12,1699,2017-01-01 02:33:12,2017-01-01 03:01:31,3213,Van Vorst Park,40.718489,-74.047727,3202,Newport PATH,40.727224,-74.033759,24513,Subscriber,1985.0,1
13,350,2017-01-01 02:37:31,2017-01-01 02:43:22,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24409,Subscriber,1964.0,2
14,346,2017-01-01 03:09:09,2017-01-01 03:14:56,3202,Newport PATH,40.727224,-74.033759,3186,Grove St PATH,40.719586,-74.043117,24513,Subscriber,1985.0,1
15,367,2017-01-01 03:16:35,2017-01-01 03:22:42,3187,Warren St,40.721124,-74.038051,3267,Morris Canal,40.712419,-74.038526,24699,Subscriber,1989.0,1
16,148,2017-01-01 03:24:02,2017-01-01 03:26:30,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24513,Subscriber,1985.0,1
17,204,2017-01-01 03:52:29,2017-01-01 03:55:53,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,24442,Subscriber,1986.0,1
18,33726,2017-01-01 04:35:14,2017-01-01 13:57:20,3275,Columbus Drive,40.718355,-74.038914,3186,Grove St PATH,40.719586,-74.043117,26281,Customer,NaN,0
19,591,2017-01-01 04:35:36,2017-01-01 04:45:27,3275,Columbus Drive,40.718355,-74.038914,3186,Grove St PATH,40.719586,-74.043117,26194,Customer,NaN,0
20,454,2017-01-01 05:17:42,2017-01-01 05:25:16,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24555,Subscriber,1972.0,2
21,217,2017-01-01 05:25:35,2017-01-01 05:29:13,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,24408,Subscriber,1987.0,1
22,107,2017-01-01 06:29:15,2017-01-01 06:31:03,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,24681,Subscriber,1964.0,1
23,453,2017-01-01 07:08:01,2017-01-01 07:15:34,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26163,Subscriber,1983.0,1
24,447,2017-01-01 07:12:53,2017-01-01 07:20:20,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26431,Subscriber,1986.0,1
25,730,2017-01-01 07:38:57,2017-01-01 07:51:08,3281,Leonard Gordon Park,40.745910,-74.057271,3195,Sip Ave,40.730743,-74.063784,24495,Subscriber,1962.0,1
26,435,2017-01-01 07:55:19,2017-01-01 08:02:35,3192,Liberty Light Rail,40.711242,-74.055701,3186,Grove St PATH,40.719586,-74.043117,24390,Subscriber,1986.0,1
27,458,2017-01-01 08:16:36,2017-01-01 08:24:15,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26255,Subscriber,1992.0,1
28,258,2017-01-01 08:24:36,2017-01-01 08:28:54,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,26308,Subscriber,1977.0,1
29,537,2017-01-01 08:56:28,2017-01-01 09:05:26,3196,Riverview Park,40.744319,-74.043991,3210,Pershing Field,40.742677,-74.051789,26234,Subscriber,1983.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15868,200,2017-12-31 18:22:05,2017-12-31 18:25:26,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,31716,Subscriber,1957.0,1
15869,521,2017-12-31 18:29:32,2017-12-31 18:38:13,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,31772,Subscriber,1982.0,1
15870,690,2017-12-31 18:33:38,2017-12-31 18:45:09,3272,Jersey & 3rd,40.723332,-74.045953,3186,Grove St PATH,40.719586,-74.043117,31716,Subscriber,1957.0,1
15871,179,2017-12-31 18:52:09,2017-12-31 18:55:08,3278,Monmouth and 6th,40.725685,-74.048790,3211,Newark Ave,40.721525,-74.046305,31840,Subscriber,1979.0,1
15872,1084,2017-12-31 18:55:20,2017-12-31 19:13:24,3210,Pershing Field,40.742677,-74.051789,3207,Oakland Ave,40.737604,-74.052478,31766,Subscriber,1983.0,1
15873,227,2017-12-31 19:00:06,2017-12-31 19:03:53,3209,Brunswick St,40.724176,-74.050656,3186,Grove St PATH,40.719586,-74.043117,29590,Subscriber,1994.0,1
15874,141,2017-12-31 19:10:22,2017-12-31 19:12:43,3184,Paulus Hook,40.714145,-74.033552,3183,Exchange Place,40.716247,-74.033459,31861,Subscriber,1999.0,1
15875,432,2017-12-31 19:28:03,2017-12-31 19:35:16,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31929,Subscriber,1992.0,1
15876,1090,2017-12-31 19:30:26,2017-12-31 19:48:37,3280,Astor Place,40.719282,-74.071262,3481,York St,40.716490,-74.041050,31760,Subscriber,1953.0,2
15877,1084,2017-12-31 19:31:17,2017-12-31 19:49:21,3280,Astor Place,40.719282,-74.071262,3481,York St,40.716490,-74.041050,31808,Subscriber,1960.0,1
15878,262,2017-12-31 20:00:09,2017-12-31 20:04:32,3225,Baldwin at Montgomery,40.723659,-74.064194,3195,Sip Ave,40.730743,-74.063784,31940,Subscriber,1994.0,1
15879,598,2017-12-31 20:08:32,2017-12-31 20:18:30,3225,Baldwin at Montgomery,40.723659,-74.064194,3203,Hamilton Park,40.727596,-74.044247,26212,Subscriber,1976.0,1
15880,455,2017-12-31 20:16:57,2017-12-31 20:24:33,3281,Leonard Gordon Park,40.745910,-74.057271,3640,Journal Square,40.733670,-74.062500,32795,Subscriber,1978.0,1
15881,358,2017-12-31 20:25:06,2017-12-31 20:31:04,3278,Monmouth and 6th,40.725685,-74.048790,3185,City Hall,40.717733,-74.043845,31938,Subscriber,1987.0,2
15882,354,2017-12-31 20:25:06,2017-12-31 20:31:01,3278,Monmouth and 6th,40.725685,-74.048790,3185,City Hall,40.717733,-74.043845,29604,Subscriber,1986.0,1
15883,387,2017-12-31 20:25:13,2017-12-31 20:31:41,3279,Dixon Mills,40.721630,-74.049968,3279,Dixon Mills,40.721630,-74.049968,31833,Subscriber,1982.0,1
15884,259,2017-12-31 20:27:04,2017-12-31 20:31:23,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,31920,Subscriber,1981.0,2
15885,142,2017-12-31 20:28:06,2017-12-31 20:30:29,3186,Grove St PATH,40.719586,-74.043117,3481,York St,40.716490,-74.041050,31716,Subscriber,1974.0,1
15886,288,2017-12-31 20:30:30,2017-12-31 20:35:18,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,29622,Subscriber,1980.0,2
15887,207,2017-12-31 20:33:52,2017-12-31 20:37:19,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,29634,Subscriber,1990.0,1
15888,1525,2017-12-31 20:35:35,2017-12-31 21:01:00,3267,Morris Canal,40.712419,-74.038526,3193,Lincoln Park,40.724605,-74.078406,31918,Subscriber,1960.0,1
15889,672,2017-12-31 20:57:37,2017-12-31 21:08:50,3203,Hamilton Park,40.727596,-74.044247,3195,Sip Ave,40.730743,-74.063784,31709,Subscriber,1983.0,1
15890,345,2017-12-31 21:06:52,2017-12-31 21:12:38,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,31762,Subscriber,1991.0,1
15891,267,2017-12-31 21:38:07,2017-12-31 21:42:35,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26212,Subscriber,1976.0,1
15892,339,2017-12-31 21:45:19,2017-12-31 21:50:59,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,31767,Subscriber,1982.0,1
15893,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
15894,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
15895,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,1
15896,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
15897,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [70]:
# verify unique columns names
df1.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [74]:
# count total
df1.count()

Trip Duration              294928
Start Time                 294928
Stop Time                  294928
Start Station ID           294928
Start Station Name         294928
Start Station Latitude     294928
Start Station Longitude    294928
End Station ID             294928
End Station Name           294928
End Station Latitude       294928
End Station Longitude      294928
Bike ID                    294928
User Type                  294811
Birth Year                 275313
Gender                     294928
dtype: int64

In [75]:
# merge dataset 2
dataset_2 = [q1_data, q2_data, q3_data, q4_data]
df2=pd.concat(dataset_2)
df2.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/17,16009,50761,206624,1237,33
1,1/2/17,8921,21545,206675,142,15
2,1/3/17,14198,25879,206728,42,15
3,1/4/17,34039,69966,206778,475,29
4,1/5/17,28393,52446,206845,214,17

In [76]:
df2.count()

Date                                                  365
Trips over the past 24-hours (midnight to 11:59pm)    365
Miles traveled today (midnight to 11:59 pm)           365
Total Annual Members (All Time)                       365
24-Hour Passes Purchased (midnight to 11:59 pm)       365
3-Day Passes Purchased (midnight to 11:59 pm)         365
dtype: int64

In [77]:
# export to csv files
df1.to_csv("concat_data_2017.csv")
df2.to_csv("concat_quarterdata_2017.csv")